<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<!-- Bootstrap Icon-->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	
	<style>
        .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        </style>
</head>
<body>
	<nav class="navbar" style="background-color: #224064">
        <div class="container">
            <a class="navbar-brand" href="#" style="color: white;"> <i
                class="bi bi-wrench-adjustable"></i> ServiciosYa!
            </a>

            <div class= "d-flex align-items-center">
            <h6 style="color: white" class="me-2" th:text="${empleador.nombre} +  ' ' + ${empleador.apellidos}"></h6>
                <a class="me-3" th:href="@{/editarEmpleador/{id}(id=${empleador.idPersona})}">

                <img th:src="@{'/usuario_foto/' + ${empleador.urlPerfil}}"
                    alt="Foto de perfil" class="profile-pic nav-link">
                </a>

                <a class="btn btn-outline-danger ml-2" th:href="@{/logout}"
                role="button">Logout</a> 
            </div>


        </div>

    </nav>
	<div class="container mt-5">
		<h2>Nuevo Empleo</h2>
		<form class="row mt-3" th:action="@{/empleo}" th:object="${empleo}" method="post" enctype="multipart/form-data">
			<div class="col-6 mb-6">
				<div class="mb-3">
				  <label for="titulo" class="form-label">Título</label>
				  <input type="text" class="form-control" id="titulo" th:field="*{titulo}">
				</div>
				<div class="mb-3">
				  <label for="descripcion" class="form-label">Descripción</label>
				  <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="3"></textarea>
				</div>
		        <div class="col-md-6 mb-3">
					<label for="validationCustom10" class="form-label">Habilidades</label> 
					<select id="validationCustom10" class="form-control" required th:field="*{habilidad}">
						<option th:each="habilidad : ${habilidades}"
							th:value="${habilidad.id}"  
							th:text="${habilidad.nombre}">
						</option>
					</select>
				</div>
				<!-- FOTO -->
				<div class="form-group">
                	<label for="exampleFormControlFile1">Detalle del problema</label>
                	<input name="foto" accept="image/*" required type="file" class="form-control-file" id="exampleFormControlFile1">
           		 </div>
			</div>
			<div>
			<a class="btn btn-danger mt-4" th:href="@{/empleos}">Cancelar</a>
			<button type="submit" class="btn btn-primary mt-4">Publicar</button>
			</div>
		</form>
	</div>

	<!-- Bootstrap JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>
</html>