<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro de Usuarios</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Registro y inicio de sesión</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				
				<li class="nav-item"><a class="nav-link" href="/">Inicio</a>
				</li>
			</ul>
		</div>
	</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <div th:if="${param.exito}">
                <div class="alert alert-info">Se ha registrado exitosamente a la aplicación</div>
            </div>
            <h1>Regístrate</h1>
            <form th:action="@{/registro}" method="post" th:object="${persona}">
                <div class="form-group">
                    <label class="control-label" for="nombre">Nombre: </label>
                    <input type="text" id="nombre" class="form-control" th:field="*{nombre}" required autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label class="control-label" for="apellido">Apellido: </label>
                    <input type="text" id="apellido" class="form-control" th:field="*{apellido}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="pais">País: </label>
                    <input type="text" id="pais" class="form-control" th:field="*{pais}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="direccion">Dirección: </label>
                    <input type="text" id="direccion" class="form-control" th:field="*{direccion}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dni">DNI: </label>
                    <input type="text" id="dni" class="form-control" th:field="*{dni}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="celular">Celular: </label>
                    <input type="text" id="celular" class="form-control" th:field="*{celular}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="correo">Correo: </label>
                    <input type="email" id="correo" class="form-control" th:field="*{correo}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="usuario">Usuario: </label>
                    <input type="text" id="usuario" class="form-control" th:field="*{usuario}" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Contraseña: </label>
                    <input type="password" id="password" class="form-control" th:field="*{password}" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Registrar</button>
                    <span>Si estás registrado <a th:href="@{/login}">inicia sesión aquí</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>